#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mkp_input_listener { input-processors = <&zip_temp_layer 4 10000>; };

&mt {
    flavor = "balanced";
    quick-tap-ms = <150>;
    tapping-term-ms = <150>;
};

&lt {
    tapping-term-ms = <150>;
    quick-tap-ms = <150>;
};

&trackball {
    // automouse-layer = <4>;

    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        shift+ctrl {
            bindings = <&kp LS(LCTRL)>;
            key-positions = <38 37>;
        };

        Left_Bracket {
            bindings = <&auto_muhenkan RIGHT_BRACKET>;
            key-positions = <2 12>;
            layers = <0 5>;
        };

        Right_Bracket {
            bindings = <&auto_muhenkan BACKSLASH>;
            key-positions = <3 13>;
            layers = <0 5>;
        };

        Left_Parenthesis {
            bindings = <&auto_muhenkan ASTERISK>;
            key-positions = <5 17>;
            layers = <0 5>;
        };

        Right_Parenthesis {
            bindings = <&auto_muhenkan LEFT_PARENTHESIS>;
            key-positions = <6 18>;
            layers = <0 5>;
        };

        Left_Brace {
            bindings = <&auto_muhenkan RIGHT_BRACE>;
            key-positions = <19 7>;
            layers = <0 5>;
        };

        Right_Brace {
            bindings = <&auto_muhenkan PIPE>;
            key-positions = <20 8>;
            layers = <0 5>;
        };

        check_key_no {
            bindings = <&none>;
            key-positions = <18 19 20 8 6 30 32 0 10 22>;
        };

        file_open {
            bindings = <&file_open>;
            key-positions = <0 10>;
            layers = <1>;
        };

        file_close {
            bindings = <&file_close>;
            key-positions = <1 11>;
            layers = <1>;
        };

        scope_open {
            bindings = <&scope_open>;
            key-positions = <2 12>;
            layers = <1>;
        };

        scope_close {
            bindings = <&scope_close>;
            key-positions = <3 13>;
            layers = <1>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        file_close: file_collapse {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LC(K) &kp LC(N0)>;

            label = "FILE_COLLAPSE";
        };

        file_open: file_expand {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LC(K) &kp LC(J)>;

            label = "FILE_EXPAND";
        };

        scope_close: scope_collapse {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LC(K) &kp LC(BACKSLASH)>;

            label = "SCOPE_COLLAPSE";
        };

        scope_open: scope_expand {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LC(K) &kp LC(RIGHT_BRACKET)>;

            label = "SCOPE_EXPAND";
        };

        auto_muhenkan: auto_muhenkan {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&kp INTERNATIONAL_5 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "AUTO_MUHENKAN";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        lt_hold: lt_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_HOLD";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <250>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q    &kp W         &kp E         &kp R                  &kp T                                                        &kp Y        &kp U  &kp I      &kp O       &kp P
&kp A    &kp S         &kp D         &kp F                  &kp G             &none               &to 5                  &kp H        &kp J  &kp K      &kp L       &lt 4 MINUS
&kp Z    &kp X         &kp C         &kp V                  &lt 3 B           &kp RCTRL           &lt 4 INTERNATIONAL_4  &lt 3 N      &kp M  &kp COMMA  &kp PERIOD  &lt 5 SLASH
&kp TAB  &kp LEFT_WIN  &kp LEFT_ALT  &lt 1 INTERNATIONAL_5  &lt_hold 2 SPACE  &kp LEFT_SHIFT      &kp BACKSPACE          &lt 2 ENTER                                &lt 6 DELETE
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        FUNCTION {
            bindings = <
&file_close  &scope_close  &kp LC(P)  &kp LC(LS(P))  &kp F12                          &kp F1   &kp F2   &kp F3  &kp F4  &kp F5
&kp LC(A)    &kp LC(S)     &kp LC(D)  &kp LC(F)      &kp LS(F12)  &trans      &trans  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10
&kp LC(Z)    &kp LC(X)     &kp LC(C)  &kp LC(V)      &kp LC(Y)    &trans      &trans  &kp F11  &kp F12  &trans  &trans  &trans
&trans       &trans        &trans     &trans         &trans       &trans      &trans  &trans                            &trans
            >;
        };

        NUM {
            bindings = <
&auto_muhenkan DOUBLE_QUOTES  &auto_muhenkan N7  &auto_muhenkan N8  &auto_muhenkan N9  &auto_muhenkan COLON                                                 &auto_muhenkan PLUS        &auto_muhenkan LEFT_BRACKET  &auto_muhenkan PERCENT  &auto_muhenkan HASH                 &auto_muhenkan LS(INTERNATIONAL_1)
&auto_muhenkan SLASH          &auto_muhenkan N4  &auto_muhenkan N5  &auto_muhenkan N6  &auto_muhenkan MINUS       &kp LG(LS(S))      &auto_muhenkan DOLLAR  &auto_muhenkan LEFT_BRACE  &auto_muhenkan AMPERSAND     &auto_muhenkan AT       &auto_muhenkan SEMICOLON            &auto_muhenkan SQT
&auto_muhenkan N0             &auto_muhenkan N1  &auto_muhenkan N2  &auto_muhenkan N3  &auto_muhenkan UNDERSCORE  &trans             &trans                 &auto_muhenkan EQUAL       &auto_muhenkan EXCLAMATION   &auto_muhenkan CARET    &auto_muhenkan LS(INTERNATIONAL_3)  &auto_muhenkan INTERNATIONAL_3
&trans                        &trans             &trans             &trans             &trans                     &trans             &trans                 &trans                                                                                                              &trans
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE          &kp LC(LS(TAB))     &kp UP_ARROW    &kp LC(TAB)          &trans                                   &trans  &kp RC(RS(TAB))     &kp UP    &kp RC(TAB)          &trans
&kp HOME            &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW      &kp END              &trans      &trans  &trans  &kp LEFT            &kp DOWN  &kp RIGHT            &trans
&kp LA(LEFT_ARROW)  &kp LG(LEFT_ARROW)  &trans          &kp LG(RIGHT_ARROW)  &kp LA(RIGHT_ARROW)  &trans      &trans  &trans  &kp LA(LEFT_ARROW)  &trans    &kp LA(RIGHT_ARROW)  &trans
&trans              &trans              &trans          &trans               &trans               &trans      &trans  &trans                                                     &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&kp ESCAPE          &kp LC(LS(TAB))     &kp UP          &kp LC(TAB)          &trans                                   &trans  &kp LS(ENTER)       &trans    &kp LEFT_GUI         &trans
&kp HOME            &kp LEFT            &kp DOWN        &kp RIGHT            &kp END              &trans      &trans  &trans  &mkp MB1            &mkp MB3  &mkp MB2             &trans
&kp LA(LEFT_ARROW)  &kp LG(LEFT_ARROW)  &kp LA(LSHIFT)  &kp LG(RIGHT_ARROW)  &kp LA(RIGHT_ARROW)  &trans      &trans  &trans  &kp LA(LEFT_ARROW)  &trans    &kp RA(RIGHT_ARROW)  &trans
&trans              &trans              &trans          &trans               &trans               &trans      &trans  &trans                                                     &trans
            >;
        };

        oonishi {
            bindings = <
&kp Q   &kp L   &kp O   &kp COMMA  &kp DOT                          &kp P    &kp M  &kp Y  &kp R  &kp W
&kp A   &kp I   &kp U   &kp E      &kp MINUS    &trans      &to 0   &kp H    &kp N  &kp T  &kp S  &kp K
&kp Z   &kp X   &kp C   &kp V      &lt 3 SLASH  &trans      &trans  &lt 3 B  &kp F  &kp D  &kp J  &kp G
&trans  &trans  &trans  &trans     &trans       &trans      &trans  &trans                        &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &kp N7        &kp N8        &kp N9        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4
&trans  &kp N4        &kp N5        &kp N6        &trans  &trans      &trans       &trans        &bt BT_PRV    &bt BT_NXT    &trans          &trans
&kp N0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &bt BT_CLR_ALL  &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                    &trans
            >;
        };

        numlayer_jis {
            bindings = <
&kp ASTERISK  &kp N7  &kp N8  &kp N9  &kp PLUS                                  &kp TILDE  &kp AT_SIGN      &kp PERCENT        &kp HASH       &kp UNDERSCORE
&kp SLASH     &kp N4  &kp N5  &kp N6  &kp MINUS  &kp LG(LS(S))      &kp DOLLAR  &kp GRAVE  &kp SQT          &kp DOUBLE_QUOTES  &kp SEMICOLON  &kp COLON
&kp N0        &kp N1  &kp N2  &kp N3  &kp EQUAL  &trans             &trans      &kp CARET  &kp EXCLAMATION  &kp AMPERSAND      &kp PIPE       &kp BACKSLASH
&trans        &trans  &trans  &trans  &trans     &trans             &trans      &trans                                                        &trans
            >;
        };
    };
};
